{% extends base.html %}

{% block content %}

<div class="navbar navbar-fixed-top">
	<a href="/" ><img src="../static/img/flickit-logo.png"/></a>
	<div class="username"><a class="btn" href="/flicks">{{ user.first_name }}'s Flicks</a></div>
</div>
<div class="movie-list-flicks">

	{% for flick in flicks %}
	
	<div class="row movie-row">
		<div class="col-md-2">
			<div class="poster">
				<img width="180" src="{{ flick.movie.poster }}"/>
			</div>
			<button href="http://www.dealflicks.com/movies/{{ flick.movie.name }}" class="flickit-btn flickit-btn-deals">View Deals</button>
		</div>
		<div class="col-md-9 content">
			<div class="row">
				<div class="embed"><a class="btn" href="/widget-builder">Embed</a></div>
				<h2>{{ flick.movie.name }} <span class="released">({{ flick.movie.theater_release_date }})</span></h2>
				<h4>{{ flick.movie.mpaa_rating }} | {{ flick.movie.duration }}min | {{ flick.movie.genre }}</h4>
				<div class="ratings">
	                <div class="rt-icon fresh"></div><h3>{{ flick.movie.critics_score }}%</h3>
	                <div class="rt-icon upright"></div><h3>{{ flick.movie.audience_score }}%</h3>
				</div>
				<div class="cast"><strong>Cast:</strong> {{ flick.movie.abridged_cast }}</div>
				<p class="description">{{ flick.movie.synopsis }}</p>
			</div>
		</div>	
	</div>

	{% end %}
</div>
{% end %}