{% extends base.html %}

{% block content %}

<div class="navbar navbar-fixed-top">
	<a href="/" ><img src="../static/img/flickit-logo.png"/></a>
	<div class="username"><a class="btn" href="/flicks">My Flicks</a></div>
</div>
<div class="home-poster">
	<div class="poster-wrap">
		<img src="../static/img/thor-poster-lg.png" />
		<div class="poster-overlay">
			<button class="flickit-btn flickit-btn-nope">NOPE</button>
			<button class="flickit-btn flickit-btn-flick">FLICKIT</button>
		</div>
	</div>
</div>
<div class="movie-list">
	<div class="row movie-row">
		<div class="col-md-2">
			<div class="poster">
				<img src="../static/img/enders.png"/>
			</div>
			<button class="flickit-btn flickit-btn-deals">View Deals</button>
		</div>
	</div>	
</div>


{% end %}