{% extends base.html %}

{% block content %}

<div class="navbar navbar-fixed-top">
	<a href="/" ><img src="../static/img/flickit-logo.png"/></a>
	<div class="username"><a class="btn" href="/flicks">Zachary's Flicks</a></div>
</div>
	<div class="login">
		<h1> Flickit Login </h1>
	    <form action="/login" method="post">
	        <div class="row">
		        <label>
		        	Email 
		        	<input name="email" type="text"/>
		        </label>
		    </div>
		    <div class="row">
		        <label>
		            Password 
		            <input name="password" type="password"/>
		        </label>
	    	</div>
	        <button class="btn" type="submit">Login</button>
	    </form>
	</div>
{% end %}