{% extends base.html %}

{% block content %}


	<div class="login">
		<div class="row1">
		<img width="160" src="../static/img/logo-bug.png" />
		<h2>Keep track of the movies you discover,<br> wherever you find them.</h2>
	</div>
		<div class="login-form">
		    <form action="/login" method="post">
		        <div class="row ">
			        <label>
			        	Email 
			        	<input name="email" type="text"/>
			        </label>
			        <label>
			            Password 
			            <input name="password" type="password"/>
			        </label>
		    	</div>
		        <button class="btn" type="submit">Login</button>
		    </form>
		</div>
	</div>
{% end %}