{% extends base.html %}

{% block content %}

<div class="navbar navbar-fixed-top">
	<a href="/" ><img src="../static/img/flickit-logo.png"/></a>
	<div class="username"><a class="btn" href="/flicks">Zachary's Flicks</a></div>
</div>
<div class="widget-builder">
	<div class="row1">
		<h1>Embed Flickit</h1>
		<h2>Add a Flickit widget to your website or blog.<br /> Or don't, see if we care.</h2>
	</div>
	<div class="row row2">
		<h3>First Choose your Movie</h3>
		<select>
			<option>Ender's Game</option>
			<option>Thor</option>
		</select>
	</div>
	<div class="row row3">
		<div class="col-md-5">
			<h3>Embed this HTML</h3>
			<p>Copy and paste this code snippet where you want your widget to appear</p>
			<div class="textwrap">
				<textarea readonly="true">
					<a href="//www.pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.flickr.com%2Fphotos%2Fkentbrew%2F6851755809%2F&media=http%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest" data-pin-do="buttonPin" data-pin-config="above"><img src="//assets.pinterest.com/images/pidgets/pin_it_button.png" /></a>
				</textarea>
			</div>
		</div>
		<div class="col-md-5 col-md-offset-2">
			<h3>Embed This Javascript</h3>
			<p>Copy and paste this javascript link once at the bottom of your HTML</p>
			<div class="textwrap">
				<textarea readonly="true">
					<script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
				</textarea>
			</div>
		</div>
	</div>
</div>
{% end %}