{% extends base.html %}

{% block content %}

<div class="widget-builder">
	<div class="row1">
		<h1>Embed Flickit</h1>
		<h2>Add a Flickit widget to your website or blog.<br /> Or don't, see if we care.</h2>
	</div>
	<div class="row row2">
		<div class="col-md-6">
		<h3>Step 1: Choose your Movie</h3>
			<select id="movie-select">
				{% for movie in movies %}
				<option value="{{movie.id}}" {%if movie.id == preselected_movie_id%}selected="selected"{%end%}>{{movie.name}}</option>
				{% end %}
			</select>
		</div>
		<div class="col-md-6">
		<h3>Step 2: Select Button Type</h3>
			<select id="button-type-select">
				<option value="one-movie" selected="selected">One Movie</option>
				<option value="any-movie-image">Any Movie Image</option>
			</select>
		</div>
	</div>
	<div class="row row3">
		<div class="col-md-5">
			<h3>Embed this HTML</h3>
			<div id="one-movie-html">
				<p>Copy and paste this code snippet where you want your widget to appear</p>
				<div class="textwrap">
					<textarea readonly="true" id="html-embed">
						
					</textarea>
				</div>
			</div>
			<div id="any-movie-image-html" style="display: none;">
				<p>No code snippet needed for the any movie image widget</p>
			</div>
		</div>
		<div class="col-md-5 col-md-offset-2">
			<h3>Embed This Javascript</h3>
			<p>Copy and paste this javascript link once at the bottom of your HTML</p>
			<div class="textwrap">
				<textarea readonly="true" id="js-embed">
					
				</textarea>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

function update_html_embed(movie_id){

	$('#html-embed').text('<a href="//www.justflickit.com/flicks/create?movie_id=' + movie_id + '" data-flickit-do="buttonFlickit" data-flickit-config="beside">Flickit</a>');

}

function update_js_embed(button_type){


	var text = "(function(d){" +
				    "\n    var f = d.getElementsByTagName('SCRIPT')[0], p = d.createElement('SCRIPT');" +
				    "\n    p.type = 'text/javascript';";
	

	if (button_type === "any-movie-image"){
		text = text + "\n    p.setAttribute('data-flickit-hover', true);";
	}


	text =  text +  "\n    p.async = true;" +
				    "\n    p.src = '//www.justflickit.com/static/js/flickit.js';" +
				    "\n    f.parentNode.insertBefore(p, f);" +
				"\n    }(document));"

	$('#js-embed').text(text);



	if (button_type === "one-movie"){
		$('#one-movie-html').show();
		$('#any-movie-image-html').hide();

	} else if (button_type === "any-movie-image"){
		$('#one-movie-html').hide();
		$('#any-movie-image-html').show();
	}

				
}

$(document).ready(function(event){

	// init
	update_html_embed($("#movie-select").val());
	update_js_embed($("#button-type-select").val());

	// event handlers
	$('#movie-select').on('change', function(event){
		update_html_embed(this.value);
	});

	// event handlers
	$('#button-type-select').on('change', function(event){
		update_js_embed(this.value);
	});


});



</script>
{% end %}